.result {
  width: 100%;
  height: 50px;
  padding: 10px 0;
  border: 1px solid var(--border);
  border-radius: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.position {
  width: 50px;
  margin: 0;
  text-align: center;
  border-right: 1px solid var(--border-blue);
}

.driver {
  margin: 0;
  margin-left: 20px;
  margin-right: auto;
}

.points {
  margin: 0;
  width: 50px;
  text-align: center;
  border-left: 1px solid var(--border-blue);
}

.imageContainer {
  position: relative;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.imageContainer > span {
  position: unset !important;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.fastest {
  color: var(--fastest);
}

@media screen and (max-width: 500px) {
  .result {
    font-size: 0.9rem;
  }

  .imageContainer {
    width: 25px;
    height: 25px;
    margin-right: 15px;
  }
}
