.next {
  margin-top: 50px;
  width: 100%;
  color: var(--font);
  display: flex;
}

.info {
  min-width: 300px;
}

.header {
  font-size: 2.6rem;
  font-weight: 500;
}

.gp {
  font-size: 1.5rem;
  color: var(--font-gp);
  margin: 5px 0 0 0;
}

.flag {
  margin-left: 10px;
}

.flag span {
  border-radius: 3px;
  overflow: hidden;
}

.track {
  font-size: 0.9rem;
  margin: 0;
  color: var(--font-secondary);
}

.trackInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trackContainer {
  position: relative;
  width: 100%;
}

.trackContainer > span {
  position: unset !important;
}

.trackImg {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
