.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
  animation: loader 1s infinite;
}

.info {
  width: 250px;
  height: 110px;
  background-color: var(--bg-panel);
  border-radius: 10px;
}

@keyframes loader {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
