.prev {
  margin-top: 50px;
  width: 100%;
  color: var(--font);
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 2.6rem;
  font-weight: 500;
}

.gp {
  font-size: 1.2rem;
  color: var(--font-gp);
  margin: 5px 0 20px 0;
}

.flag {
  margin-left: 10px;
}

.flag span {
  border-radius: 3px;
  overflow: hidden;
}

.results {
  width: 100px;
  align-self: center;
  margin: 10px 0;
  background-color: var(--font-nav);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  color: var(--font);
}
