.nav {
  height: 100vh;
  width: 100px;
  background-color: var(--bg-panel);
  overflow: hidden;
  transition: 0.1s;
}

.nav.open {
  width: 300px;
  overflow: visible;
}

.container {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.header {
  display: flex;
  align-items: center;
}

.headerText {
  font-size: 1.8rem;
  font-family: 'Viga', sans-serif;
  color: var(--font);
  margin: 0;
  padding: 0 20px;
}
