@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Viga&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #181818;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --bg-main: #181818;
  --bg-panel: #272727;
  --border: #3c3c3c;
  --font: #fff;
}
